<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nitish.build.com.jgtest2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".syllabus_select_course" />
        <activity android:name=".results_web" />
        <activity android:name=".Syllabus_Branch" />
        <activity android:name=".Syllabus_Year" />
        <activity android:name=".Syllabus_Sem" />
        <activity android:name=".Syllabus_finTest" />
        <activity android:name=".PdfViewerTest" />
        <activity android:name=".Syllabus_Subj" />
        <activity android:name=".My_Content" />
        <activity android:name=".MainNavActivity" />
        <activity android:name=".MainMoreActivity" />
        <activity android:name=".about_app"></activity>
    </application>

</manifest>